#desktopLayer {
	display: block;
	position: relative;
	z-index: -998;

	background: #444444 url("/plexos/res/images/norrum/Desktop/fondoB.png") no-repeat fixed center center / cover;

	overflow: auto;
}
#taskBar{
	container-name: taskBar;
	container-type: size;

	position: fixed;
	bottom: 0%;
	height: 34px;
	width: 100%;

	display: flex;
	flex-direction: row;
}
#taskBarBackground{
	position: absolute;
	width: 100%;
	height: 100%;

	background-color: #00A2E8;
	border-top: solid 2px #71D5FF;
	border-bottom: solid 2px #0F7B9B;
	
	z-index: -1;
}

/*START BUTTON---------------------------------*/
#startButton {
	container: taskBar;

	justify-self: start;
	width: 120cqh;
	height: 100cqh;

	background-color: #00A2E8;
	border-left: solid 2px #71D5FF;
	border-top: solid 2px #71D5FF;
	border-right: solid 2px #0F7B9B;
	border-bottom: solid 2px #0F7B9B;

	border-radius: 0;
}

#startButton:hover {

}

#startButton:active {

}
/*---------------------------------START BUTTON*/

.gap{
	position: absolute;
	opacity: 0;
}

/*SELCT BOX------------------------------------*/
#selectBox {
	position: absolute;
	opacity: 0;
	width: 1px;
	height: 1px;
	background-color: rgba(5, 125, 168, 0.4);
	border: 1px solid rgb(71, 100, 110,0.9);
	z-index: 5;
}
/*------------------------------------SELCT BOX*/