* {
    box-sizing: border-box;
    font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    margin: 0;
}
.container.ID_TASKID {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
.toolbar.ID_TASKID {
    top: 0px;
    height: fit-content;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    background-color: rgb(195, 203, 221);
    z-index: 100;
}
.toolbar.ID_TASKID>button{
    background-color: rgb(195, 203, 221);
    height: 20px;
    border: 0px;
    font-size: 1em;
    color: rgb(90, 108, 126);
    cursor: pointer;
    padding-left:  .5em;
    padding-right: .5em;
}
.toolbar.ID_TASKID>button:active{
    color: rgb(123, 140, 156);
}
.toolbar.ID_TASKID>button:hover{
    background-color: rgb(162, 166, 177);
}
textarea {
    position: relative;
    width: 100%;
    height: 100%;
    white-space: pre;
    overflow-x:scroll;
    overflow-y:scroll;
    resize: none;
}
/*---------------------------------------*/
.background.ID_TASKID {
    position: relative;
    flex-grow: 2;
    height: auto;
}
/*>>>>>>> Anything that changes on unfocus goes here <<<<<<<*/
.content.dfocus>.container.ID_TASKID{
    opacity: 1;
}
/*>>>>>>>--------------------------------------------<<<<<<<*/