.clickContext{
    position: absolute;

    min-width: 190px;
    max-width: 300px;
    width: auto;
    height: auto;

    background-color: #a1a1a1;
    border: solid 1px #a1a1a1;
    gap: 1px;

    display: flex;
    flex-direction: column;

    z-index: 999;
    overflow: auto;

    /*image-rendering: crisp-edges;*/
}
.clickContext.shadow{
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.4));
}
.contextSection{
    background-color: #eeeeee;
}
.contextSection>div{
    display: grid;
    grid-template-columns: 18px auto 18px;
    grid-template-rows: auto;
    padding: 5px;

    user-select: none;
}
.contextSection>div>span{
    font-family: Arial, Helvetica, sans-serif;
    color: #2c2c2c;
    padding-left: 5px;
    margin: 0em;

    cursor: default;
}
.contextSection>div>div{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.contextSection>div>.last{
    float: inline-end;
    margin: 0;
    width: 100%;
    height: 100%;
}
.contextSection>div:hover , .contextSection>div.hover{
    background-color: #9ecbdf;
}
.contextSection>div.disabled{
    background-color: #dbdbdb;
}
.contextSection>div.disabled:hover{
    background-color: #cccccc;
}
.contextSection>div.disabled>*{
    opacity: .4;
}
.subMenu{
    width: max-content;
}
.dropOpt > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}