.clickContext{
    position: absolute;

    width: 190px;
    height: auto;

    background-color: #eeeeee;

    display: grid;
    grid-template-rows: auto auto auto;

    z-index: 999;
    overflow: auto;

    /*image-rendering: crisp-edges;*/
}
.clickContext.shadow{
    filter: drop-shadow(0px 1px 4px rgb(0,0,0,.5));
}
.contextSection{
    border: #a1a1a1;
    border-width: 1px;
    border-style: solid;
    border-bottom: 0;
}
.contextSection>div{
    display: grid;
    grid-template-columns: 18px auto 18px;
    grid-template-rows: 18px;
    padding: 5px;

    user-select: none;
}
.contextSection>div>span{
    font-family: Arial, Helvetica, sans-serif;
    color: #2c2c2c;
    padding-left: 5px;
    margin: 0em;

    cursor: default;
}
.contextSection>div>div{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.contextSection>div>.last{
    float: inline-end;
    margin: 0;
    width: 100%;
    height: 100%;
}
.contextSection>div:hover , .contextSection>div.hover{
    background-color: #9ecbdf;
}
.subMenu{
    width: max-content;
}
.dropOpt > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
