#iconLayer{
	position: absolute;
	width: 100%;
	height: 100%;

	pointer-events: none;
}

/*ICON CLASS-----------------------------------*/
.icon{
	position: absolute;
	width:108px;
	height: 108px;

	background-color: rgb(0,155,255,0);
	border: 3px solid rgb(0,0,0,0.0);
	border-radius: 8px;

	z-index: -50;
	pointer-events: all;

	display: grid;
	grid-template-rows: auto 2.60em 0;
}

/*-STATES-----------*/
.icon.active{
	background-color: rgba(0, 119, 199, 0.7);
	border: 3px solid rgb(255,255,255,0.10);
}
.icon:hover{
	border: 3px dotted rgb(255,255,255,0.15);
}
.icon.highlight{
	border: 3px dotted rgb(255,255,255,0.30)
}
.icon.moving{
	opacity: 0.5;
	z-index: 1000;
	border: 3px solid rgb(0,0,0,0.0);
	background-color: rgb(0,0,0,0);
	pointer-events: none;
}
/*-----------STATES-*/

/*-CHILDREN---------*/
.iconFrame{
	width: 100%;
	height: 100%;
	padding: 7px;
}
.iconImage{
	width: 100%;
	height: 100%;
	background-image: url("../assets/svg/desktopIcons/folderPlaceholder.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	-webkit-filter: drop-shadow(0px 1px 4px rgb(0,0,0,.5));
	filter: drop-shadow(0px 1px 4px rgb(0,0,0,.5));
}
.icon>h3 {
	height: 100%;
	width: 100%;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 4px rgb(0,0,0,1);
	/*font-size: 1em;*/
	font-weight: 1;
	cursor: default;
	user-select: none;

	hyphens: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
}
/*---------CHILDREN-*/

/*-PRESETS----------*/

/*1---------*/ /*icon alone*/
.icon.style1{
	grid-template-rows: 100% 0%;
}
.icon.style1>.iconFrame{
	padding: 2px;
}
.icon.style1>h3{
	display: none;
}

/*2---------*/ /*icon alone and all covering*/
.icon.style2{
	grid-template-rows: 100% 0%;
}
.icon.style2>.iconFrame{
	padding: 2px;
}
.icon.style2>.iconFrame>.iconImage{
	background-size: cover;
}
.icon.style2>h3{
	display: none;
}

/*3---------*/ /*text alone*/
.icon.style3{
	grid-template-rows: 100%;
}
.icon.style3>.iconFrame{
	display: none;
}

/*4---------*/ /*icon left text right*/
.icon.style4{
	grid-template-rows: 100%;
	grid-template-columns: auto auto; /*js*/
}
.icon.style4>.iconFrame{
	padding: 2px;
}
.icon.style4>h3{
	text-align: left;
	margin-left: 8px;
	/*font-size: 1px; js*/
}

/*5---------*/ /*small*/
.icon.style5{
	grid-template-rows: auto 1.30em;
}
.icon.style5>.iconFrame{
	padding: 2px;
}
.icon.style5>h3{
	font-size: 1em;
}

/*6---------*/ /*medium*/
.icon.style6{
	grid-template-rows: auto 2.60em;
}
.icon.style6>.iconFrame{
	padding: 7px;
}
.icon.style6>h3{
	font-size: 1.17em;
}

/*7---------*/ /*big*/
.icon.style7{
	grid-template-rows: auto 3.90em;
}
.icon.style7>.iconFrame{
	padding: 8px;
}
.icon.style7>h3{
	font-size: 1.40em;
}
/*----------PRESETS-*/

/*-----------------------------------ICON CLASS*/