/*WINDOW SETTINGS------------------------------*/
.window {
	position: absolute;

	width: 600px;
	height: 600px;

	top: 200px;
	left: 400px;

	background-color: rgba(255,255,255,0);
	padding: 6px;
	z-index: 10;

	min-height: 250px;
	min-width: 178px;
}

.windowInner {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: 38px auto 0px;

    outline: 1px solid #4f6169;

	background-color: #ffffff;
	padding: 0px;
}

.windowInner>.header {
	container-name: header;
	container-type: size;

	position: sticky;
	top: 0%;

	display: flex;
	align-items: center;

    box-sizing: initial;

    border-top-color: #71D5FF;
    border-right-color: #71D5FF;
    border-bottom-color: #0F7B9B;
    border-left-color: #0F7B9B;
    border-style: solid;
    border-width: 3px;

	background-color: #00A2E8;

	cursor: default;
}

.window.blur>.windowInner>.header{
	background-color: #6e8a9b;

	border-bottom-color: #526c7a;
    border-left-color: #526c7a;
    border-top-color: #7ba4bd;
    border-right-color: #7ba4bd;
}
.windowInner>.header>.headerIcon {
	container: header;
	height: 100cqh;
	width: 100cqh;
	margin: 4px 0px 4px 4px;

	flex-shrink: 0;

	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
}
.windowInner>.header>.headerText {
	height: fit-content;
	margin-left: 4px;

	flex-grow: 1;
	flex-shrink: 2;

    color: #FFFFFF;
	font-size: 16px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    user-select: none;
}
.windowInner>.header>.headerButtons {
	align-self: flex-end;
	display: flex;

	height: 100%;
}
.windowInner>.header>.headerButtons>.windowButton{
	container: header;
    display: inline-block;

	height: 100cqh;
	width: 100cqh;

    background-color: #FFFFFF;
}

/*BUTTONS ----------------------*/
.windowInner>.header>.headerButtons>.X{
    background-color: #FF5189;
    background-image: url("../plexos/res/images/svg/windowUI/headerClose.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;

    border-top-color: #f788ab;
    border-right-color: #f788ab;
    border-bottom-color: #f02263;
    border-left-color: #f02263;
    border-style: solid;
    border-width: 2px;

    user-select: auto;
}
.windowInner>.header>.headerButtons>.X.mousedown:hover{
    background-color: #f02263;

    border-top-color: #be003c;
    border-right-color: #be003c;
    border-bottom-color: #FF5189;
    border-left-color: #FF5189;
    border-style: solid;
    border-width: 2px;
}
.windowInner>.header>.headerButtons>.O{
    background-color: #f0ca2200;
    background-image: url("../plexos/res/images/svg/windowUI/headerFullscreen.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;

    border-top-color: #f7e38a00;
    border-right-color: #f7e38a00;
    border-bottom-color: #e0ab1800;
    border-left-color: #e0ab1800;
    border-style: solid;
    border-width: 2px;

    user-select: auto;
}
.windowInner>.header>.headerButtons>.O.mousedown:hover{
    background-color: #e0ab18;

    border-top-color: #d37d0d;
    border-right-color: #d37d0d;
    border-bottom-color: #f0ca22;
    border-left-color: #f0ca22;
    border-style: solid;
    border-width: 2px;
}
.windowInner>.header>.headerButtons>._{
    background-color: #f0ca2200;
    background-image: url("../plexos/res/images/svg/windowUI/headerMinimize-01.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;

    border-top-color: #f7e38a00;
    border-right-color: #f7e38a00;
    border-bottom-color: #e0ab1800;
    border-left-color: #e0ab1800;
    border-style: solid;
    border-width: 2px;

    user-select: auto;
	image-rendering: pixelated;
}
.windowInner>.header>.headerButtons>._.mousedown:hover{
    background-color: #6e8a9b;

    border-top-color: #526c7a;
    border-right-color: #526c7a;
    border-bottom-color: #7ba4bd;
    border-left-color: #7ba4bd;
    border-style: solid;
    border-width: 2px;
}
/*---------------------- BUTTONS*/

.windowInner>.content {
	display: block;
	position: relative;
	background-color: #FFFFFF;
	height: 100%;

	user-select: none;
	overflow: auto;
	cursor: default;
}

/*iframe------------------------*/
.content>iframe{
	display: block;
	width: 100%;
	height: 100%;
}
.antiHover{
	pointer-events: none;
}
/*------------------------iframe*/

/*WINDOW BORDER RESIZERS--------*/
.windowBorder>.windowEtop {
	width: 100%;
	height: 6px;
	background: transparent;
	position: absolute;
	right: 0;
	top: 0;
	cursor: n-resize;
}
.windowBorder>.windowEbot {
	width: 100%;
	height: 6px;
	background: transparent;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: n-resize;
}
.windowBorder>.windowElef {
	width: 6px;
	height: 100%;
	background: transparent;
	position: absolute;
	left: 0;
	bottom: 0;
	cursor: e-resize;
}
.windowBorder>.windowErig {
	width: 6px;
	height: 100%;
	background: transparent;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: e-resize;
}
.windowBorder>.windowCtl {
	width: 6px;
	height: 6px;
	z-index: 10;
	position: absolute;
	left: 0;
	top: 0;
	cursor: nw-resize;
}
.windowBorder>.windowCtr {
	width: 6px;
	height: 6px;
	z-index: 10;
	position: absolute;
	right: 0;
	top: 0;
	cursor: ne-resize;
}
.windowBorder>.windowCbr {
	width: 6px;
	height: 6px;
	z-index: 10;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: nw-resize;
	z-index: 2;
}
.windowBorder>.windowCbl {
	width: 6px;
	height: 6px;
	z-index: 10;
	position: absolute;
	left: 0;
	bottom: 0;
	cursor: ne-resize;
}
/*--------WINDOW BORDER RESIZERS*/


/*------------------------------WINDOW SETTINGS*/