* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 12px;

	position: fixed;
	width: 100%;
	height: 100%;

	z-index: -999;

}

#desktop {
	display: block;
	position: relative;
	z-index: -998;

	background: #444444 url("../assets/norrum/Desktop/fondoB.png") no-repeat fixed center center / cover;

	overflow: auto;
}

#navbar {
	position: fixed;
	bottom: 0%;
	height: 60px;
	width: 100%;

	display: grid;
	grid-template-columns: 60px auto;

	z-index: 100;
}
#navbarTaskBar{
	width: 100%;

	border-top-color: #71D5FF;
    border-right-color: #71D5FF;
    border-bottom-color: #0F7B9B;
    border-left-color: #00A2E8;
    border-style: solid;
    border-width: 3px;

	background-color: #00A2E8;
}

/*START BUTTON---------------------------------*/
#navbarNorrumStart {
	float: left;
	width: 60px;
	height: 60px;
	background-image: url("../assets/svg/norrumStartIdle.svg");
}

#navbarNorrumStart:hover {
	background-image: url("../assets/svg/norrumStartHover.svg");
}

#navbarNorrumStart:active {
	background-image: url("../assets/svg/norrumStartPress.svg");
}
/*---------------------------------START BUTTON*/

.gap{
	position: absolute;
	opacity: 0;
}

/*SELCT BOX------------------------------------*/
#selectBox {
	position: absolute;
	opacity: 0;
	width: 1px;
	height: 1px;
	background-color: rgba(5, 125, 168, 0.4);
	border: 1px solid rgb(71, 100, 110,0.9);
	z-index: 5;
}
/*------------------------------------SELCT BOX*/

/*DESKTOP*/
@media (max-width: 1024px){
	.w3{
		color: #0005FF;
	}
} /*----------------------*/

/*TABLET*/
@media (max-width: 768px){
	.w2{
		color: #0AFF00;
	}
} /*----------------------*/

/*PHONE*/
@media (max-width: 400px){
	.w1{
		color: #FF0004;
	}
} /*----------------------*/